.calcBody {
    background-color: cornflowerblue;
    width: 50vw;
    height: 30vh;
    max-width: 200px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid steelblue;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 100%;
    margin-top: 100px;
    font-size: 32px;
    text-align: right;
}
.numberedBody {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    
}
#calcBody {
    display: grid;
    
}

.numberedButton {
    height: 1fr;
    width: 1fr;
}
.item0Button {
    grid-column-start: 1;
    grid-column-end: 3;
};

#calcDisplay {
    background-color: cornflowerblue;
    font-size: 32px;

}
#itemClearButton{
    grid-column-start: 1;
    grid-column-end: 3;
}
#itemBackspaceButton{
    grid-column-start: 3;
    grid-column-end: 5;
}
