.calcBody {
    background-color: silver;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid steelblue;
    margin-left: auto;
    margin-right: auto;
}
.numberedBody {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 4;
    
}
#calcBody {
    display: grid;
    
}

.numberedButton {
    height: 1fr;
    width: 1fr;
}
